body {
  margin: auto;
  background-color: #008080;
}
.list-container {
  width: 75%;
}
.title-bar {
  margin-left: 100px;
}
.task-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.task-part {
  display: flex;
  width: 200px;
  margin-left: -20px;
}

.icons {
  display: flex;
  margin: 1px;
}
.icons i {
  color: black;
}
.icons button {
  background-color: inherit;
}

li {
  display: flex;
  border-radius: 10px;
}
.title {
  color: white;
}
button {
  width: 100%;
  border-radius: 0px;
  background-color: rgba(43, 42, 42, 0.461);
  color: white;
  border: none;
  padding: 10px;
}
button:hover {
  background-color: rgba(133, 130, 130, 0.461);
  transition: 0.5s;
}

.view i {
  color: rgb(3, 3, 104);
}
.edit i {
  color: rgba(215, 141, 3, 0.838);
}
.delete i {
  color: rgb(155, 3, 3);
}
.main-container {
  margin: auto;
  padding: auto;
}
