body {
  margin: auto;
  background-color: #164a41;
}
.main-nav {
  background-color: #164a41;
  height: 80px;
}
.main-nav h3 {
  color: #ffdf6c;
}
.list-container {
  width: 75%;
}

.task-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.task-part {
  display: flex;
  width: 200px;
  margin-left: -20px;
  color: black;
}

.icons {
  display: flex;
  justify-content: space-between;
}
.icons i {
  color: black;
}
.icons button {
  background-color: inherit;
  border: none;
}

.title {
  color: white;
}
.add-button {
  width: 100%;
  border: 1px solid #f1b24a;
  background-color: #9dc88d;
  color: black;
  padding: 10px;
}
.add-button:hover {
  background-color: rgba(133, 130, 130, 0.461);
  transition: 0.5s;
}

.view i {
  color: rgb(3, 3, 104);
}
.edit i {
  color: rgba(215, 141, 3, 0.838);
}
.delete i {
  color: rgb(155, 3, 3);
}
.main-container {
  margin: auto;
  padding: auto;
}
.show-btn {
  display: flex;
  justify-content: space-between;
}
.delete-edit-btn {
  display: flex;
  justify-content: space-between;
}
.add {
  background-color: #f1b24a;
  color: black;
  border: none;
}
.edit {
  background-color: #f1b24a;
  border: none;
}
h1 {
  color: white;
}
.add-page {
  color: white;
}
.edit-page {
  color: white;
}

.time {
  color: white;
}
.table {
  color: white;
}
