


<div class="container">
 
    <h1>Add Task</h1>



<div class="container mt-4 mb-3">
    <form action="/todo" method="POST">
  <label for="task" class="form-label">Task</label>
  <input
    type="text"
    class="form-control"
    id="task"
    placeholder="add task"
    name="task"
  />
</div>

<div class="container mb-3">
  <label for="description"  class="form-label">Decription</label>
  <textarea
    class="form-control"
    id="description"
    rows="5"
    name="description"
  ></textarea>
 <button class=" mt-2" type="submit">Add</button>
  </form>
  <a href="/todo"><button class=" mt-2" type="submit">Back home</button></a>
</div>
</div>