<div class="container mt-4">

  <h1>Edit Task</h1>

  <div class="container mt-4 mb-3 edit-page">
    <form method="POST" action="/todo/{{foundTask.id}}?_method=PATCH">
      <label for="task" class="form-label"> <p>Task</p> </label>
      <input
        type="text"
        class="form-control"
        id="task"
        placeholder="{{foundTask.task}}"
        name="task"
      />

      <label for="description" class="form-label mt-4">
        <p> Description</p></label>
      <textarea
        class="form-control"
        id="description"
        rows="5"
        name="description"
      >
        {{foundTask.description}}

      </textarea>

      <p class="mt-4 time">this task has been added on
        {{foundTask.time}}</p>
      <button class="mt-2 btn btn-success">Save</button>
      <a href="/todo"><button class="mt-2 btn btn-dark">Back home</button></a>

    </form>
  </div>

</div>