





<div class="container mt-4">
 
  <h1>Edit Task</h1>




<div class="container mt-4 mb-3">
    <form method="POST" action="/todo/{{foundTask.id}}?_method=PATCH">
  <label for="task" class="form-label">Task</label>
  <input
    type="text"
    class="form-control"
    id="task"
    placeholder="{{foundTask.task}}"
    name="task"
  />
</div>
<div class="container mb-3">
  <label for="description"  class="form-label">Decription</label>
  <textarea
    class="form-control"
    id="description"
    rows="5"
    name="description"
  >
  {{foundTask.description}}
  
  </textarea>
  <p class="mt-4" style="color: white;">this task has been added on {{foundTask.time}}</p>
 <button class=" mt-2" style="background-color: rgba(215, 141, 3, 0.838);">Save</button>
  </form>
   <a href="/todo"><button class=" mt-2" style="background-color: rgb(69, 87, 2);">Back home</button></a>
</div>
</div>